.form {
    display: grid;
}

.form > *{
    margin-left: 2rem;
    margin-right: 2rem;
    margin-bottom: 10px;
}

textarea {
    resize: none;
}

.card {
    margin-bottom: 7px;
    margin-top: 7px;
}
